extends layout

block content
  h1 #{title}
  form(method='POST', action='/articles/add')
    #form-group
      label(for='title') Title:
      input.form-control(name='title' type='text' required)
    #form-group
      labelbody(for='body') Body:
      textarea.form-control(name='body' required)
    br
    input.my-btn(type='submit' value='Submit')